body {
  width: 1440px;
  margin: 0 auto;
  background-size: auto%;
  background: black;
  display: block;
}
html {
  background: #bbb;
  position: relative;
  height: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 64px; color: #006dad; margin-left: 45px; margin-top: 12px;
  }
h2 {
  font-family: 'Montserrat', sans-serif; font-size: 14px; color: white; margin-left: 346px;
}
p {
  font-family: 'Montserrat', sans-serif; font-weight: bold; color: white; margin-bottom: 4px; color: #006dad;
}
section:nth-of-type(1) {
  display: flex;
  height: 722px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 220, 54, 1);
  vertical-align: top;
}
.infor_h{
  padding-top: 16px;
  padding-left: 33px;
  width: 197.63px;
  height: 296.44px;
  opacity: 0;
}
.title {
  position: fixed;
  z-index: 1;
}
.star1 {
    display: inline-block;
    left: 897.15px;
    top: 30.77px;
    z-index: 30;
    position: absolute;
    animation: star_and_snow 3s infinite;
}
.star2 {
    top: 7px;
    left: 678.68px;
    z-index: 31;
    position: absolute;
    animation: star_and_snow 5s infinite;
}
.star3 {
    top: 27px;
    left: 1123px;
    z-index: 32;
    position: absolute;
    animation: star_and_snow 6s infinite;
}
.star4 {
    top: 77px;
    left: 1156.68px;
    z-index: 33;
    position: absolute;
    animation: star_and_snow 2s infinite;
}
.sneg1 {
    top: 20px;
    left: 1345px;
    z-index: 34;
    position: absolute;
    animation: star_and_snow 4s infinite;
}
.sneg2 {
    top: 134.04px;
    left: 6px;
    z-index: 35;
    position: absolute;
    animation: star_and_snow 6s infinite;
}
.star5 {
    top: 410px;
    left: 460px;
    z-index: 36;
    position: absolute;
    animation: star_and_snow 2s infinite;
}
.sneg3 {
    top: 538.04px;
    left: 939.81px;
    z-index: 37;
    position: absolute;
    animation: star_and_snow 2s infinite;
}
.sneg4 {
    top: 600px;
    left: 15px;
    z-index: 38;
    position: absolute;
    animation: star_and_snow 5s infinite;
}
.sneg5 {
  top: 742.04px;
  left: 712.81px;
  z-index: 39;
  position: absolute;
  animation: star_and_snow 3s infinite;
}
.sneg6 {
  top: 760px;
  left: 700.07px;
  z-index: 40;
  position: absolute;
  animation: star_and_snow 2s infinite;
}
.sneg7 {
  top: 839px;
  left: 254px;
  z-index: 41;
  position: absolute;
  animation: star_and_snow 4s infinite;
}
.star6 {
  top: 1080px;
  left: 1165px;
  z-index: 42;
  position: absolute;
  animation: star_and_snow 3s infinite;
}
.star7 {
  top: 1420px;
  left: 457px;
  z-index: 43;
  position: absolute;
  animation: star_and_snow 5s infinite;
}
.star8 {
  top: 1403px;
  left: 909.15px;
  z-index: 44;
  position: absolute;
  animation: star_and_snow 5s infinite;
}
.sneg7 {
  top: 1404px;
  left: 909px;
  z-index: 45;
  position: absolute;
  animation: star_and_snow 2s infinite;
}
#indent_row {
    display: inline-block;
    width: 197.63px;
    height: 296.44px;
    margin-top: 32px;
    z-index: 20;
    position: relative;
}
#layer1{
    position: flex;
}
#layer2 {
    position: flex;
}
#layer1 {
    z-index: 50;
}
#layer2 {
    z-index: 55;
}
.card_pr {
  width: 197.63px;
  height: 296.44px;
  position: absolute;
  background: url('элементы/Обложка карты.svg');
  background-size: auto 100% ;
  background-repeat: no-repeat;
  transition: all 4s;
  transition-delay: 1s;
  position: relative;
  z-index: 20;
}
.card_under {
  width: 197.63px;
  height: 296.44px;
  z-index: 1;
  position: relative;
  opacity: 0;
}
.card_pr_block{
   position:relative;
   display:inline-block;
   top: 0px;
   margin-left: 33px;
   margin-top: 33px;
   width: 197.63px;
   height: 296.44px;
}
.card_pr_block:hover .card_pr{
   width:  0;
   transition: all 1s;
}
.card_pr_block:hover .card_under {
  opacity: 1;
  transition: all 2s;
}
#p1 {
  display: block;
  margin-left: 45px;
  margin-right: 0px;
  font-size: 14px;
  width: 291px;
  z-index: 1;
  position: relative;
}
#p2 {
  display: block;
  margin-top: -35px;
  margin-left: 1276px;
  margin-right: 45px;
  font-size: 14px;
  width: 119px;
  z-index: 2;
  position: relative;
}
